@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700@display=swap');

*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body{
    background: linear-gradient(rgb(46,150,163),rgb(48,62,143));
    overflow: hidden;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container{
    padding: 20px 70px;
    color: #ffff;
}
.current-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.date-container{
    font-weight: 100;
}
.date-container .time{
    font-size: 70px;
}
.date-container #am-pm{
    font-size: 30px;
    margin-left: 20px;
}

.date-container .date{
    font-size: 30px;
}

.place-container{
    text-align: end;
}

.place-container .time-zone{
    font-size: 30px;
    font-weight: 100;
}

.place-container .country{
    font-size: 12px;
    font-weight: 700;
}

.current-info .others{
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(46,150,163),rgb(48,62,143));
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    /*border: 1px solid #eee;*/
}

.current-info .others .weather-item{
    display: flex;
    justify-content: space-between;
}

.place-container #search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.place-container #search-button{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: linear-gradient(rgb(46,150,163),rgb(48,62,143));
    border-radius:10px ;
    margin-left: 5px;
    padding: 11px;
    border: none;
    display: inline-block;
    transition: all .4s ease 0s;
}
.place-container #search-button:hover{
    color: #fff;
    background: #3c3c44;
    /*border-color: #ff6768;*/
    transition: all .4s ease 0s;
}
.place-container #search-input{
    width: 260px;
    overflow: hidden;
    font-size: 20px;
    margin: 8px 0;
    padding: 8px 0;
    border-bottom: 3px solid rgb(48,62,143);
    color: white;
    outline: none;
    background: none;
}
.place-container input{
    border: none;
    color: #ffff;
}

/* Prayer times */
.pray{
    /*background:rgba(0, 0, 0, 0.4); */
    border-radius: 20px;
    position: relative;  
    /*display: flex;*/
    flex-wrap: wrap;
    /*width: 50%;*/
    /*height: auto;*/
    /*margin-bottom: 50%;*/
}

.pray .pray-title{
    padding: 10px 10px;
    /*margin-bottom: 10px;*/
    color: #ffff;
    font-size: 15px;
    /*margin-top: 10px;*/
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif ;
}

.cards{
    /*background:rgba(0, 0, 0, 0.4); */
    border-radius: 20px;
    /* position: relative; */ 
    display: flex;
    flex-wrap: wrap;
    /* width: 50%;*/
    /*height: auto;*/
    /*margin-bottom: 50%;*/
}

.cards .card{
    /*width: 160px;*/
    /*min-height: 160px;*/
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);*/
    /*border-radius: 10px;*/
    /*padding: 20px 10px;*/
    margin: 20px auto;
    position: relative;
}

.card .circle{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle svg{
    width: 105px;
    height: 105px;
}

.circle svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10;
    stroke: rgb(48,62,143);
    transform: translate(5px,5px);
    stroke-dasharray: 2;
    stroke-dashoffset: 1000;
    animation: dash 2s linear infinite;
}

@keyframes dash {
    to{
        stroke-dashoffset: 0;
    }
}

.circle .prayTime {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ffff;
    font-size: 25px;
    font-family: 'Poppins', sans-serif ;
}

.card p{
    color: #ffff;
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif ;
}

.future-forecast{
   /* background:rgba(24, 24, 27, 0.8);*/
    padding: 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.future-forecast .today{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(46,150,163),rgb(48,62,143));
    border-radius: 10px ;
    padding: 20px 20px;
    margin: 0 10px;
}

.future-forecast .today .day{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.future-forecast .today .temp{
    font-size: 18px;
    padding: 15px;
}

.future-forecast .weather-forecast{
    display: flex;
}

.weather-forecast .weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    background: linear-gradient(rgb(46,150,163),rgb(48,62,143));
    /*border: 1px solid #eeee;*/
    border-radius: 10px;
    padding: 15px;
}

.weather-forecast .weather-forecast-item .day{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp{
    font-weight: 100;
}

@media only screen and (max-width:730px){
    .container{
        padding: 20px;
    }

    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-x: scroll ;
    }

    .future-forecast .today .temp{
        font-size: 23px;
    }

    .date-container .time{
        font-size: 50px;
    }

    .date-container #am-pm{
        font-size: 20px;
    }

    .date-container .date{
        font-size: 20px;
    }

    .place-container{
        text-align: end;
        margin: 15px;
    }

    .place-container .time-zone{
        font-size: 20px;
    }

    .place-container .item-zone{
        font-size: 20px;
    }

    .current-info .others{
        padding: 12px;
    }

    .current-info .others .weather-item{
        font-size: 14px;
    }
}

@media only screen and (max-width: 1000px){
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-x: scroll;
    }
}